<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet  Format="1.0.0">
    <Header>
      <Title>创建 Grid</Title>
      <Shortcut>xfgrd</Shortcut>
    </Header>
    <Snippet>
      <Code Language="XAML">
        <![CDATA[<Grid
	Grid.Row="0"
	Grid.Column="0"
	RowDefinitions="*,*"
	ColumnDefinitions="*,*">
		$selected$$end$
	</Grid>]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>